{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Saisie d'une commande{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Saisie d'une commande
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ mode }}
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {% form_theme form 'HdcOfficeBundle:Form:form_hdc_type.html.twig' %}
                        {{ form_row(form.date, { 'label': 'Date', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.type, { 'label': 'Type', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.reference, { 'label': 'Référence', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prospect_id, { 'label': 'Prospect', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.fournisseur_id, { 'label': 'Fournisseur', 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <table aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer" id="bon-gratuite-details">

                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Quantité</th>
                                <th>Qté gratuite autorisée</th>
                                <th>Produit gratuit livré</th>
                                <th>Quantité gratuite livrée</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="mountable-model">
                                <td>
                                    <select name="produit[]" class="form-control produitselect">
                                        <option value=""></option>
                                        {% for product in oProducts %}
                                        <option value="{{ product.id }}">{{ product.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><input type="text" name="quantite[]" class="form-control"></td>
                                <th>
                                    <input type="text" disabled name="quantitegratuiteauthorisee" />
                                </th>
                                <td>
                                    <select name="produitgratuit[]" class="form-control produitgratuit">
                                        <option value=""></option>
                                    </select>
                                </td>
                                <td><input type="number" name="qtegratuit[]" class="smaxvlue form-control" min="0" max="0"></td>
                                <td><button type="button" class="btn btn-default mountable-remove-line-2">Remove</button></td>
                            </tr>

                            {% if details_commande is defined %}
                                {% for oRow in details_commande %}
                                    <tr>
                                        <td>
                                            <select name="produit[]" class="form-control produitselect">
                                                {% for product in oProducts %}
                                                    <option value="{{ product.id }}"{% if (oRow.pid == product.id) %} SELECTED{% endif %} >{{ product.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" name="quantite[]" class="form-control" value="{{ oRow.0.quantity }}"></td>
                                        <td>
                                            <select name="produitgratuit[]" class="form-control produitgratuit">
                                                {% for product in oProducts %}
                                                    <option value="{{ product.id }}"{% if (oRow.pgid == product.id) %} SELECTED{% endif %}>{{ product.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td><input type="text" name="qtegratuit[]" class="form-control" value="{{ oRow.0.qtegratuit }}"></td>
                                        <td><button type="button" class="btn btn-default mountable-remove-line-2">Remove</button></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3"><button type="button" class="btn btn-default" id="button-addnew-record">Ajouter une ligne</button></td>
                            </tr>
                            </tfoot>
                        </table>
                    {{ form_row(form.submit, { 'label': mode, 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/mountable.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/tabledit.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/form_validation.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery.ui.datepicker-fr.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/datepicker-script.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/commande.js') }}"></script>
    <script>
        global = {
            locale   : '{{ app.request.locale }}'
        }
    </script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.css') }}" />
{% endblock %}