{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des commandes{% endblock %}

{% block extra_css %}<link href="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Commandes <a class="btn btn-success" href={{ url("commandeadd") }}>Ajouter</a>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Les commandes
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Référence</th>
                                    <th>Bénéficiaire</th>
                                    <th>Commercial</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th class="center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for row in oRows %}
                                <tr class="odd">
                                    <td>{{ row.0.id }}</td>
                                    <td>{{ row.0.date|date('d-m-Y H:i:s') }}</td>
                                    <td>{{ row.0.reference }}</td>
                                    <td>{{ row.pro_lastname }} {{ row.pro_firstname }}</td>
                                    <td>{{ row.lastname }} {{ row.firstname }}</td>
                                    <td>{{ row.0.type }}</td>
                                    <td>
                                        {% if row.0.status < 2 %}
                                        <form action="" class="change_statusform" method="post">
                                        <input type="hidden" value="{{ row.0.id }}" name="idcommande">
                                        <select name="statuschange">
                                            <option value="0"{% if row.0.status == 0 %} SELECTED{% endif %}>En attente</option>
                                            <option value="1"{% if row.0.status == 1 %} SELECTED{% endif %}>En cours de traitement</option>
                                            <option value="2">Livré</option>
                                        </select>
                                            <button class="btn btn-info btn-circle" type="submit"><i class="fa fa-check"></i></button>
                                        </form>
                                        {% else %}
                                            <span class="center">Commande livrée</span>
                                        {% endif %}
                                    </td>
                                    <td class="center">
                                        <a href={{ url("commandeview", {'id': row.0.id}) }}>
                                            <button class="btn btn-primary">
                                                <i class="fa fa-list "></i>
                                            </button></a>
                                        {% if row.0.status == 0 %}
                                            <a href={{ url("commandeedit", {'id': row.0.id}) }}>
                                                <button class="btn btn-primary btn-circle" type="button"><i class="glyphicon glyphicon-pencil"></i></button></a>&nbsp;
                                            <a onclick="if (!confirm('Etes vous sûr?')) return false;" href={{ url("commandedelete", {'id': row.0.id}) }}>
                                                <button class="btn btn-danger btn-circle" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                                        </a>
                                        {% endif %}

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}

{% block extra_js %}

    <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/commandelist.js') }}"></script>
    <script>
        $(document).ready(function () {
            if ($('#dataTables-example').length>0) {
                $('#dataTables-example').dataTable( {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.9/i18n/French.json"
                    }
                });
            }
        });
    </script>
{% endblock %}