{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Commande
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ oCommande.pro_lastname }} {{ oCommande.pro_firstname }}
                </div>
                <div class="panel-body">
                    <div>
                        <p>Date : {{ oCommande.0.date|date('d-m-Y H:i:s') }}</p>
                        <p>Référence : {{ oCommande.0.reference }}</p>
                        <p>Type : {% if  oCommande.0.type == 1 %}Commande{% else %}Avoir{% endif %}</p>
                        <p>Status : {% if oCommande.0.status ==0 %}En attente{% elseif oCommande.0.status == 1 %}En cours de traitement{% elseif oCommande.0.status == 2 %}Commande livrée{% endif %}
                        </p>
                        <p>Founisseur : {{ oCommande.four_lastname }} {{ oCommande.four_firstname }}</p>
                    </div>
                    <div>
                        <div class="panel-heading">
                            Produits commandés
                        </div>

                        <table aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer">

                            <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Quantité</th>
                                <th>Produit gratuit livré</th>
                                <th>Quantité gratuite livrée</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if details is defined %}
                                {% for oRow in details %}
                                    <tr>
                                        <td>
                                            {{ oRow.name }}
                                        </td>
                                        <td>{{ oRow.0.quantity }}</td>
                                        <td>
                                            {{ oRow.pgname }}
                                        </td>
                                        <td>{{ oRow.0.qtegratuit }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}
