{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des cursus{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Potentiel <a class="btn btn-success" href={{ url("potentieladd") }}>Ajouter</a>
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <!--    Striped Rows Table  -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des potentiels
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for object in objects %}
                                <tr>
                                    <td>{{ object.id }}</td>
                                    <td>{{ object.name }}</td>
                                    <td><a href={{ url("potentieledit", {'id': object.id}) }}><button class="btn btn-primary"><i class="fa fa-edit "></i> Modifier</button></a> <a onclick="if (!confirm('Etes vous sûr?')) return false;" href={{ url("potentieldelete", {'id': object.id}) }}><button class="btn btn-danger">Supprimer</button></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  End  Striped Rows Table  -->
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}