{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            {% trans from 'FOSMessageBundle' %}inbox{% endtrans %}
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                {% include 'FOSMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
