{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}


<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            {% trans from 'FOSMessageBundle' %}send_new{% endtrans %}
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.recipient, { 'label': 'Destinataire', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.subject, { 'label': 'Objet', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.body, { 'label': 'Message', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-default"/>
                        {{ form_end(form) }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
