{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ thread.subject }}
            </h1>
        </div>
    </div>

{% for message in thread.messages %}
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                        <div class="panel-heading">{% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}</div>

                            <div class="panel-body" id="message_{{ message.id }}">
                                {{ message.body }}
                            </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}


    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="panel-heading">
                        {% trans from 'FOSMessageBundle' %}reply{% endtrans %}
                    </div>

                    <form action="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" method="post" role="form">
                        {{ form_errors(form) }}
                        <div class="form-group">
                            {{ form_row(form.body, { 'label': 'Message', 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-default"/>
                            {{ form_end(form) }}
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

{% endblock %}
