{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Ajouter une Localité{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Ajouter une Localité
            </h1>
        </div>
    </div>


    <div class="row">
        {{ form(form) }}
    </div>
    <!-- /. ROW  -->

{% endblock %}