{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ mode }} un bon de gratuité{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ mode }} un bon de gratuité
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ mode }}
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {% form_theme form 'HdcOfficeBundle:Form:form_hdc_type.html.twig' %}
                        {{ form_row(form.date, { 'label': 'Date', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.type, { 'label': 'Type', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.reference, { 'label': 'Référence', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.user_id, { 'label': 'Utilisateur', 'attr': {'class': 'form-control'} }) }}
                    </div>


                    <table aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer" id="bon-gratuite-details">
                        <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Quantité</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="mountable-model">
                            <td>
                                <select name="produit[]" class="form-control">
                                    <option value=""></option>
                                    {% for product in oProducts %}
                                        <option value="{{ product.id }}">{{ product.name }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input type="text" name="quantite[]" class="form-control"></td>
                            <td><button type="button" class="btn btn-default mountable-remove-line-2">Supprimer</button></td>
                        </tr>

                        {% if aProductsSaved is defined %}
                            {% for oRow in aProductsSaved %}
                            <tr>
                                <td>
                                <select name="produit[]" class="form-control">
                                    <option value=""></option>
                                    {% for product in oProducts %}
                                        <option {% if (oRow.id == product.id) %}SELECTED{% endif %} value="{{ product.id }}">{{ product.name }}</option>
                                    {% endfor %}
                                </select>
                                </td>
                                <td><input type="text" name="quantite[]" class="form-control" value="{{ oRow.0.quantity }}"></td>
                                <td><button type="button" class="btn btn-default mountable-remove-line-2">Supprimer</button></td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3"><button type="button" class="btn btn-default" id="button-addnew-record">Ajouter une nouvelle ligne</button></td>
                        </tr>
                        </tfoot>
                    </table>

                    {{ form_row(form.save, { 'label': mode, 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->


{% endblock %}

{% block extra_js %}

    <script src="{{ asset('bundles/hdcoffice/assets/js/mountable.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/tabledit.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/form_validation.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery.ui.datepicker-fr.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/datepicker-script.js') }}"></script>
    <script>
        global = {
            locale   : '{{ app.request.locale }}'
        }
    </script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.css') }}" />
{% endblock %}