<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap Styles-->
    <link href="{{ asset('bundles/hdcoffice/assets/css/bootstrap.css') }}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{{ asset('bundles/hdcoffice/assets/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{{ asset('bundles/hdcoffice/assets/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{{ asset('bundles/hdcoffice/assets/css/custom-styles.css') }}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    {% block extra_css %}{% endblock %}
</head>

<body>
<div id="wrapper" class="toggled">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#menu-toggle" class="btn btn-default" id="menu-toggle" title="Menu principal"><i class="glyphicon glyphicon-resize-small"></i></a>
            <a class="navbar-brand" href="/">HDC Pharma</a>
        </div>

        {{ include('HdcOfficeBundle::navbar.html.twig') }}

    </nav>
    <!--/. NAV TOP  -->
    {{ include('HdcOfficeBundle::sidebar.html.twig') }}
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">

            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-info">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="alert alert-danger">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('warning') %}
                <div class="alert alert-warning">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% block breadcrumb %}{% endblock %}
            {% block body %}{% endblock %}
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <script src="{{ asset('bundles/hdcoffice/assets/js/jquery-1.10.2.js') }}"></script>-->
<!-- Bootstrap Js -->
<script src="{{ asset('bundles/hdcoffice/assets/js/bootstrap.min.js') }}"></script>
<!-- Metis Menu Js -->
<script src="{{ asset('bundles/hdcoffice/assets/js/jquery.metisMenu.js') }}"></script>
<!-- Morris Chart Js -->
<script src="{{ asset('bundles/hdcoffice/assets/js/morris/raphael-2.1.0.min.js') }}"></script>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");

        if ($("#filtres_prospects").length>0) {
            if ($("#wrapper").hasClass("toggled"))
            {
               $("#filtres_prospects").show();
                $(".datatable-prospect").css("width","95%");
            } else {
               $("#filtres_prospects").hide();
                $(".datatable-prospect").css("width","100%");
            }

        }

        if ($(this).find('i').hasClass("glyphicon-resize-full")) {
            $(this).find('i').removeClass("glyphicon-resize-full");
            $(this).find('i').addClass("glyphicon-resize-small");
        } else {
            $(this).find('i').removeClass("glyphicon-resize-small");
            $(this).find('i').addClass("glyphicon-resize-full");
        }

    });
</script>
{% block extra_js %}{% endblock %}


</body>

</html>