<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-messages">
        {{ render(controller(
        'HdcOfficeBundle:Dashboard:getMessages',
        { 'max': 3 }
        )) }}
    </ul>
    <!-- /.dropdown-messages -->
</li>