<ul class="nav navbar-top-links navbar-right">

    {{ include('HdcOfficeBundle::messages.html.twig') }}

    {#{ include('HdcOfficeBundle::tasks.html.twig') }#}

    {#{ include('HdcOfficeBundle::alerts.html.twig') }#}



    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>Hi {{ app.user.username }}</li>
            {% endif %}
            <li><a href={{ url("fos_user_profile_edit") }}><i class="fa fa-user fa-fw"></i> Edit Profile</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out fa-fw"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}

            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>