<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <a class="active-menu" href={{ url("dashboard") }}><i class="fa fa-dashboard"></i> Tableau de bord</a>
            </li>
            <li>
                <a href="{{ url("visite") }}"><i class="fa fa-desktop"></i> Visites</a>
            </li>
            {# <li>
                <a href="chart.html"><i class="fa fa-bar-chart-o"></i> Rapports</a>
            </li>
            <li>
                <a href="tab-panel.html"><i class="fa fa-qrcode"></i> Tickets</a>
            </li>#}

            <li>
                <a href={{ url("commandelist") }}><i class="fa fa-qrcode"></i> Commandes</a>
            </li>

            <li>
                <a href={{ url('fos_message_inbox') }}><i class="fa fa-edit"></i> Messagerie </a>
            </li>
            {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_SUPERVISEUR") or is_granted("ROLE_COMMERCIAL") %}
            <li>
                <a href={{ url("prospectlist") }}><i class="fa fa-qrcode"></i> Prospects</a>
            </li>
            {% endif %}

            {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_SUPERVISEUR")%}
            <li>
                <a href="#"><i class="fa fa-sitemap"></i> Administration<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href={{ url("bongratuitelist") }}>Gestions des gratuités</a>
                    </li>
                    <li>
                        <a href={{ url("fos_user_group_list") }}>Groupes d'utilisateurs</a>
                    </li>
                    <li>
                        <a href={{ url("userlist") }}>Utilisateurs</a>
                    </li>
                    {% if is_granted("ROLE_SUPER_ADMIN") %}
                    <li>
                        <a href="#">Configurations<span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href={{ url("groupeproduitlist") }}>Groupes de produits</a>
                            </li>
                            <li>
                                <a href={{ url("tauxtvalist") }}>Taux TVA</a>
                            </li>
                            <li>
                                <a href={{ url("produitlist") }}>Produits</a>
                            </li>
                            <li>
                                <a href={{ url("regionlist") }}>Régions</a>
                            </li>
                            <li>
                                <a href={{ url("gouvernoratlist") }}>Gouvernorats</a>
                            </li>
                            <li>
                                <a href={{ url("villelist") }}>Localité</a>
                            </li>
                            <li>
                                <a href={{ url("brickimslist") }}>Brick IMS</a>
                            </li>
                            <li>
                                <a href={{ url("specialitelist") }}>Spécialités</a>
                            </li>
                            <li>
                                <a href={{ url("genrelist") }}>Genres</a>
                            </li>
                            <li>
                                <a href={{ url("cursuslist") }}>Cursus</a>
                            </li>
                            <li>
                                <a href={{ url("titrelist") }}>Titres</a>
                            </li>
                            <li>
                                <a href={{ url("gammelist") }}>Gammes</a>
                            </li>
                            <li>
                                <a href={{ url("potentiellist") }}>Potentiels</a>
                            </li>
                        </ul>

                    </li>
                    {% endif %}
                </ul>
            </li>
            {% endif %}
        </ul>

    </div>

</nav>