{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ title }}
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ mode }}
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.name, { 'label': 'Nom', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    {{ form_row(form.save, { 'label': mode, 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->
{% endblock %}
