{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des gouvernorats{% endblock %}

{% block extra_css %}<link href="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Gouvernorats <a class="btn btn-success" href={{ url("gouvernoratadd") }}>Ajouter</a>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Les gouvernorats
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Gouvernorat</th>
                                    <th>Région</th>
                                    <th class="center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for gouvernorat in gouvernorats %}
                                <tr class="odd">
                                    <td>{{ gouvernorat.0.id }}</td>
                                    <td>{{ gouvernorat.0.name }}</td>
                                    <td>{{ gouvernorat.name }}</td>
                                    <td class="center"><a href={{ url("gouvernoratedit", {'id': gouvernorat.0.id}) }}><button class="btn btn-primary"><i class="fa fa-edit "></i> Modifier</button></a> <a onclick="if (!confirm('Etes vous sûr?')) return false;" href={{ url("gouvernoratdelete", {'id': gouvernorat.0.id}) }}><button class="btn btn-danger">Supprimer</button></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}

{% block extra_js %}

    <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            if ($('#dataTables-example').length>0) {
                $('#dataTables-example').dataTable( {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.9/i18n/French.json"
                    }
                });
            }
        });
    </script>
{% endblock %}