{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ mode }} une Brick IMS{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ mode }} une Brick IMS
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ mode }}
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.name, { 'label': 'Nom', 'attr': {'class': 'left'} }) }}
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <select name="select_regions" id="select_regions">
                                <option value="0">Sélectionner une région</option>
                                {% for oRow in available_regions %}
                                    <option value="{{ oRow.id }}">{{ oRow.name }}</option>
                                {% endfor %}
                            </select>
                            {{ form_row(form.gouvernorat_id, { 'label': false, 'attr': {'style': 'left'} }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <select name="available_ville" id="select-from" class="form-control" multiple size="10">
                                    {% for oRow in available_cities %}
                                        <option value="{{ oRow.0.id }}">{{ oRow.0.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <p><button class="btn btn-default" id="btn-add-ville">Ajouter &raquo;</button></p>
                            <p><button class="btn btn-default" id="btn-remove-ville">&laquo; Retirer</button></p>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <select name="selected_ville[]" id="select-to" class="form-control" multiple size="10">
                                    {% if selected_cities is defined %}
                                        {% for oRow in selected_cities %}
                                            <option value="{{ oRow.id }}">{{ oRow.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.save, { 'label': mode, 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->



{% endblock %}

{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/brickims.js') }}"></script>
{% endblock %}