{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ mode }} un secteur{% endblock %}

{% block extra_css %}
    <link href="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={{ url("gammelist") }}>Gamme</a></li>
        <li class="breadcrumb-item"><a href={{ url("gammeview", {'id': gamme.id}) }} title="{{ gamme.name|e('html_attr') }}">{{ gamme.name }}</a></li>
    </ol>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ mode }} un secteur
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.name, { 'label': 'Nom du filtre *', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    {{ form_row(form.save, { 'label': mode, 'attr': {'class': 'btn btn-success'} }) }}
                    <table>
                        <thead>
                        <tr>
                            {% for item in available_filtres %}
                                <th width="150px">{{ item.label }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for entity, item in available_filtres %}
                                <td>
                                    <select multiple size="20" name="select_{{ entity }}[]" id="select_{{ entity }}" class="select_filtres">
                                        <option value="0" SELECTED>Tous</option>
                                        {% for oRow in item.data %}
                                            <option value="{{ oRow.id }}">{{ oRow.name }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            {% endfor %}
                        </tr>
                        </tbody>
                    </table>
                    {{ form_end(form) }}
                    <br />
                    Total des prospects privés sélectionnés : <span id="total_filtre"></span><br>
                    Total des prospects non privés: <span id="total_filtre_notprivate"></span><br>
                    <button id="show_selectprospects" class="btn btn-success">Afficher</button>&nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Les prospects
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover datatable-prospect" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Nom / Prénom</th>
                                <th>Spécialité</th>
                                <th>Titre</th>
                                <th>Pot.</th>
                                <th>Cursus</th>
                                <th>BrickIMS</th>
                                <th>Localité</th>
                                <th>Adresse</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="z-index: 10000;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/secteurhdc.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery.ui.datepicker-fr.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/datepicker-script.js') }}"></script>
    <script>
        global = {
            locale   : '{{ app.request.locale }}'
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $('.datetimepicker').datetimepicker({
            locale: 'fr',
            useCurrent: false,
            sideBySide: true
        });
    </script>
    <script>
        var sectorName =  $('#sectorName').text();
        $('#secteurhdc_name').val(sectorName);
    </script>

    <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
{% endblock %}