{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des secteurs{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Secteurs
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <!--    Striped Rows Table  -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des secteurs HDC
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Actions
                                    <a href='{{ url("secteurhdcadd") }}'
                                       class="btn btn-success btn-xs"
                                       title="ajouter un secteurhdcadd">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in objects %}
                                <tr>
                                    <td>{{ object.id }}</td>
                                    <td>{{ object.name }}</td>
                                    <td>
                                        <a href='{{ url("secteurhdcdelete",{'id': object.id}) }}'
                                           class="btn btn-danger" title="supprimer le secteur"
                                           onclick="if (!confirm('Etes vous sûr?')) return false;">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  End  Striped Rows Table  -->
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}