{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Secteur "{{ object.name }}"{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={{ url("gammelist") }}>Gamme</a></li>
        <li class="breadcrumb-item"><a href={{ url("gammeview", {'id': object.gammeId.id}) }}
                                       title="{{ object.gammeId.name|e('html_attr') }}">{{ object.gammeId.name }}</a>
        </li>
        <li class="breadcrumb-item active">{{ object.name }}</li>
    </ol>
{% endblock %}

{% block body %}
    <h1 class="page-header">
        Secteur "{{ object.name }}"
        <br>
        <a href='{{ path('secteurhdcEdit', { 'id': object.id }) }}'
           class="btn btn-info btn-xs" title="modifier">
            <i class="glyphicon glyphicon-pencil"></i>
        </a>

        <a href='{{ path('secteurhdcdelete', { 'id': object.id }) }}'
           class="btn btn-danger btn-xs" title="supprimer"
           onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                            {return true;}else{return false;}">
            <i class="glyphicon glyphicon-trash"></i>
        </a>

    </h1>
    <div class="row">
        <div class="col-md-12">
            <p>Gamme : <a href={{ url("gammeview", {'id': object.gammeId.id}) }}
                          title="{{ object.gammeId.name|e('html_attr') }}">
                    {{ object.gammeId.name }}</a>
            </p>
        </div>
    </div>
    <div class="row">
        {% if specialityList is iterable and specialityList|length >0 %}
            <div class="col-md-4">
                <!--    Striped Rows Table  -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Spécialité :
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for id,name in specialityList %}
                                    <tr>
                                        <td><a href={{ url("specialiteedit", {'id': id}) }}
                                               title="{{ name|e('html_attr') }}">{{ name }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--  End  Striped Rows Table  -->
            </div>
        {% endif %}
        {% if brickimsList is iterable and brickimsList|length >0 %}
            <div class="col-md-4">
                <!--    Striped Rows Table  -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        BrickIMS :
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for id,name in brickimsList %}
                                    <tr>
                                        <td><a href={{ url("brickimsedit", {'id': id}) }}
                                               title="{{ name|e('html_attr') }}">{{ name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--  End  Striped Rows Table  -->
            </div>
        {% endif %}
        {% if cityList is iterable and cityList|length >0 %}
            <div class="col-md-4">
                <!--    Striped Rows Table  -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Localité :
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nom</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for id,name in cityList %}
                                    <tr>
                                        <td><a href={{ url("villeedit", {'id': id}) }}
                                               title="{{ name|e('html_attr') }}">{{ name }}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--  End  Striped Rows Table  -->
            </div>
        {% endif %}
    </div>
    <!-- /. ROW  -->

{% endblock %}