{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ mode }} un utilisateur{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ mode }} un utilisateur
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ mode }}
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form', 'novalidate':'novalidate'} }) }}
                    {% form_theme form 'HdcOfficeBundle:Form:form_hdc_type.html.twig' %}
                    {{ form_errors(form) }}

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.firstname, { 'attr': {'class': 'form-control'}, 'label' : "Nom :" }) }}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.lastname, { 'attr': {'class': 'form-control'}, 'label' : "Prénom :" }) }}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.tel1, { 'attr': {'class': 'form-control'}, 'label' : "Téléphone1 :" }) }}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.tel2, { 'attr': {'class': 'form-control'}, 'label' : "Téléphone2 :" }) }}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.email, { 'attr': {'class': 'form-control'}, 'label' : "Email :" }) }}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.username, { 'attr': {'class': 'form-control'}, 'label' : "Nom d'utilisateur  :" }) }}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.secteurs)}}
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                {{ form_row(form.adresse, { 'attr': {'class': 'form-control'}, 'label' : "Adresse :" }) }}
                            </div>

                            <div class="hidden">
                                {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                            </div>

                            <div class="form-group">
                                {{ form_row(form.submit, { 'label': mode, 'attr': {'class': 'btn btn-success'} }) }}
                            </div>

                            <div class="hidden">{{ form_rest(form) }}</div>
                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--  formulaire de modif. de mot de passe -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <input type="checkbox" class="cbxShowHide" data-target="#changePwdUser" data-target-visibility="false"/>
            Modifier le mot de passe
        </div>
    <div class="row">
        <div class="col-lg-12"  id="changePwdUser" style="">
            <div class="hpanel hgreen">
                <div class="panel-body">
                    {{ form_start(formPassword) }}
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_row(formPassword.plainPassword.first,{'attr':{'class': 'form-control', 'placeholder':'******'}}) }}
									<br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_row(formPassword.plainPassword.second,{'attr':{'class': 'form-control', 'placeholder':'******'}}) }}
									<br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pull-left">
                        <input type="submit" class="btn btn-primary" value="Modifier" />
                    </div>
                    {{ form_end(formPassword) }}
                </div>
            </div>
        </div>
    </div>
    </div>
        <!--  fin formulaire de modif. de mot de passe -->

    <!-- /. ROW  -->
{% endblock %}

{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/gamme.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/UserEditForm.js') }}"></script>
{% endblock %}