{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des utilisateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Utilisateurs <a class="btn btn-success" href={{ url("useradd") }}>Ajouter</a>
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!--    Striped Rows Table  -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des utilisateurs
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Prénom / Nom</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Rôle</th>
                                <th>Activé ?</th>
                                <th>Dernière connexion</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in objects %}
                                {% if object.roles.0 != "ROLE_SUPER_ADMIN" %}
                                <tr>
                                    <td>{{ object.id }}</td>
                                    <td>{{ object.firstname }} {{ object.lastname }}</td>
                                    <td>{{ object.username }}</td>
                                    <td>{{ object.email }}</td>
                                    <td>{{ object.roles.0 }}</td>
                                    <td>{{ object.enabled }}</td>
                                    <td>{{ object.lastLogin|date('d-m-Y H:i:s') }}</td>
                                    <td>
                                        <a href={{ url("useredit", {'id': object.id}) }}>
                                            <button class="btn btn-primary"><i class="fa fa-edit "></i> Modifier</button>
                                        </a>
                                        <a onclick="if (!confirm('Etes vous sûr?')) return false;"
                                           href={{ url("userdelete", {'id': object.id}) }}>
                                            <button class="btn btn-danger">Supprimer</button>
                                        </a>
                                        <a onclick="if (!confirm('Etes vous sûr?')) return false;"
                                           href={{ url("userstatus", {'id': object.id}) }}>
                                            <button class="btn btn-{{ object.enabled ? "success" : "danger"}}">
                                                {% if not object.enabled %}Désactiver{% else %}Activer{% endif %}
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  End  Striped Rows Table  -->
        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}