{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ mode }} d'une visite{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ mode }} une visite
            </h1>
            <a href="{{ path('visite') }}">
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-arrow-left"></i> Retour à la liste
                </button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.prospect, { 'label': 'Prospect / Spécialité', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <div class='input-group date datetimepicker col-lg-12'>
                            {{ form_row(form.datevisite, { 'label': 'date de visite', 'attr': {'class': 'col-lg-12 form-control input-inline datetimepicker'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.tempsvisite, { 'label': 'temps de visite', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.tempsattente, { 'label': 'temps d\'attente', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.remarque, { 'label': 'Remarque', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.rp, { 'label': 'RP', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.objection, { 'label': 'Objection', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.acces, { 'label': 'Accès', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    {{ form_row(form.submit, { 'label': mode, 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>



    <a href="{{ path('visite') }}">
        <button class="btn btn-primary">
            <i class="glyphicon glyphicon-arrow-left"></i> Retour à la liste
        </button>
    </a>
{% endblock %}


{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/mountable.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/tabledit.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/form_validation.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery.ui.datepicker-fr.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/datepicker-script.js') }}"></script>
    <script>
        global = {
            locale   : '{{ app.request.locale }}'
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript">
        $('.datetimepicker').datetimepicker({
            locale: 'fr',
            useCurrent: false,
            sideBySide: true
        });
    </script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}
