{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des visites{% endblock %}

{% block extra_css %}<link href="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Visites <a class="btn btn-success" href={{ url("visite_new") }}>Nouvelle visite</a>
            </h1>
        </div>
    </div>

<div class="row">
    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Les visites
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date de visite</th>
                            <th>Date de saisie</th>
                            <th>Temps d'attente</th>
                            <th>Temps de visite</th>
                            <th>Remarque</th>
                            <th>Rp</th>
                            <th>Concurrent</th>
                            <th>Acces</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('visite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{% if entity.datevisite %}{{ entity.datevisite|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if entity.datesaisie %}{{ entity.datesaisie|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ entity.tempsattente }}</td>
                                <td>{{ entity.tempsvisite }}</td>
                                <td>{{ entity.remarque }}</td>
                                <td>{{ entity.rp }}</td>
                                <td>{{ entity.concurrent }}</td>
                                <td>{% if entity.acces == 0 %}Rapide{% else %}Lent{% endif %}</td>
                                <td>
                                    <a href="{{ path('visite_show', { 'id': entity.id }) }}"><button class="btn btn-primary"><i class="fa fa-list "></i></button></a>
                                    <a href="{{ path('visite_edit', { 'id': entity.id }) }}"><button class="btn btn-primary btn-circle" type="button"><i class="glyphicon glyphicon-pencil"></i></button></a>


                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block extra_js %}

    <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script>
        $(document).ready(function () {
            if ($('#dataTables-example').length>0) {
                $('#dataTables-example').dataTable( {
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.9/i18n/French.json"
                    }
                });
            }
        });
    </script>
{% endblock %}