{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Saisie d'une visite{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Saisie d'une visite
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {% form_theme form 'HdcOfficeBundle:Form:form_hdc_type.html.twig' %}
                        {{ form_row(form.datevisite, { 'label': 'Date de visite', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.tempsvisite, { 'label': 'temps de visite', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.tempsattente, { 'label': 'temps d\'attente', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.remarque, { 'label': 'Remarque', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.rp, { 'label': 'RP', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.concurrent, { 'label': 'Concurrent', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.acces, { 'label': 'Accès', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prospect_id, { 'label': 'Prospect', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    {{ form_row(form.submit, { 'label': "Créer", 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>



    <a href="{{ path('visite') }}">
        <button class="btn btn-primary"><i class="fa fa-list "></i> Retour à la liste</button>
    </a>
{% endblock %}


{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/mountable.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/tabledit.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/form_validation.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery.ui.datepicker-fr.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/datepicker-script.js') }}"></script>
    <script>
        global = {
            locale   : '{{ app.request.locale }}'
        }
    </script>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.css') }}" />
{% endblock %}
