{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Visite{% endblock %}

{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Visite
            </h1>
        </div>
    </div>

    <table aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Datevisite</th>
                <td>{{ entity.datevisite|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datesaisie</th>
                <td>{{ entity.datesaisie|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Tempsattente</th>
                <td>{{ entity.tempsattente }} minutes</td>
            </tr>
            <tr>
                <th>Tempsvisite</th>
                <td>{{ entity.tempsvisite }} minutes</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ entity.remarque }}</td>
            </tr>
            <tr>
                <th>Rp</th>
                <td>{{ entity.rp }}</td>
            </tr>
            <tr>
                <th>Concurrent</th>
                <td>{{ entity.concurrent }}</td>
            </tr>
            <tr>
                <th>Acces</th>
                <td>{% if entity.acces == 0 %}Rapide{% else %}Lent{% endif %}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('visite') }}">
            <button class="btn btn-primary"><i class="fa fa-list "></i></button>
        </a>
        <a href="{{ path('visite_edit', { 'id': entity.id }) }}">
            <button class="btn btn-primary btn-circle" type="button"><i class="glyphicon glyphicon-pencil"></i></button>
        </a>
    {{ form_start(delete_form, { 'attr': {'role': 'form'} }) }}
    {{ form_errors(delete_form) }}
    {{  form_row(delete_form.submit, { 'label': 'Supprimer', 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}

{% endblock %}
