{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Editer un groupe d'utilisateurs{% endblock %}

{% block body %}
{% include "FOSUserBundle:Group:edit_content.html.twig" %}
{% endblock body %}
