{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des groupes d'utilisateurs{% endblock %}

{% block body %}
{% include "FOSUserBundle:Group:list_content.html.twig" %}
{% endblock body %}
