<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Groupes <a class="btn btn-success" href={{ url("fos_user_group_new") }}>Ajouter</a>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <!--    Striped Rows Table  -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Liste des groupes
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for group in groups %}
                            <tr>
                                <td>{{ group.getId() }}</td>
                                <td><a href="{{ path('fos_user_group_show', {'groupName': group.getName()} ) }}">{{ group.getName() }}</a></td>
                                <td>
                                    <a href={{ url("fos_user_group_edit", {'groupName': group.getName()}) }}><button class="btn btn-primary"><i class="fa fa-edit "></i> Modifier</button></a>
                                    <a onclick="if (!confirm('Vous etes sur?')) return false;" href={{ url("fos_user_group_delete", {'groupName': group.getName()}) }}><button class="btn btn-danger">Supprimer</button></a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--  End  Striped Rows Table  -->
    </div>
</div>
<!-- /. ROW  -->