{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Ajouter un groupe d'utilisateurs{% endblock %}

{% block body %}
{% include "FOSUserBundle:Group:new_content.html.twig" %}
{% endblock body %}
