{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Ajouter un groupe d'utilisateurs
        </h1>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Ajout
            </div>
            <div class="panel-body">
                <form action="{{ path('fos_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="fos_user_group_new" role="form">
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'group.new.submit'|trans }}" class="btn btn-default"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

