{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Groupe d'utilisateurs{% endblock %}

{% block body %}
{% include "FOSUserBundle:Group:show_content.html.twig" %}
{% endblock body %}
