{% trans_default_domain 'FOSUserBundle' %}


<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Groupe d'utilisateurs
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">

            <div class="panel-body">
                <p>{{ 'group.show.name'|trans }}: {{ group.getName() }}</p>
            </div>
        </div>
    </div>
</div>