{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Gestion Documents{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Gestion des documents
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <!--    Striped Rows Table  -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ajouter un documents
                </div>
                <div class="panel-body">
                    <div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('ajax_snippet_image_send')}}">
                    </div>
                </div>
            </div>
            <!--  End  Striped Rows Table  -->
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <!-- /. ROW  -->

    {% block extra_js %}
        <script src="{{ asset('bundles/hdcoffice/assets/js/dropzone.js') }}"></script>
        <script>
        //je récupère l'action où sera traité l'upload en PHP
        var _actionToDropZone = $("#form_snippet_image").attr('action');

        //je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#form_snippet_image", { url: _actionToDropZone });
        </script>

    {% endblock %}

    {% block extra_css %}
        <link href="{{ asset('bundles/hdcoffice/assets/css/dropzone.css') }}" rel="stylesheet" />
    {% endblock %}

{% endblock %}