{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Gestion des documents{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Gestion des fichiers
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <!--    Striped Rows Table  -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Documents
                </div>
                <div class="panel-body">
                    <div class="dropzone my-dropzone" id="form_snippet_image" action="{{path('ajax_snippet_image_send')}}"></div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Date de céation</th>
                                <th>URL de fichier</th>
                                <th class="text-center">Actions
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for document in documents %}
                                <tr>
                                    <td>
                                        <a href=""
                                           title='voir' download target="_blank">
                                            {{ document.name }}
                                        </a>
                                    </td>
                                    <td>{{ document.date|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ document.path }}</td>
                                    <td class="text-center">

                                        <a href="{{ document.path }}/{{ document.name }}"
                                           class="btn btn-default btn-xs" title="télécharger"
                                            target="_blank" download>
                                            <i class="glyphicon glyphicon-download-alt"></i>
                                        </a>

                                        <a href='{{ url("deleteDocument", {'id': document.id}) }}'
                                           class="btn btn-danger btn-xs" title="supprimer"
                                           onclick="if (!confirm('Etes vous sûr?'))
                                            return false;">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  End  Striped Rows Table  -->
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <!-- /. ROW  -->

    {% block extra_js %}
        <script src="{{ asset('bundles/hdcoffice/assets/js/dropzone.js') }}"></script>
        <script>
            //je récupère l'action où sera traité l'upload en PHP
            var _actionToDropZone = $("#form_snippet_image").attr('action');

            //je définis ma zone de drop grâce à l'ID de ma div citée plus haut.
            Dropzone.autoDiscover = false;
            var myDropzone = new Dropzone("#form_snippet_image", { url: _actionToDropZone });
            myDropzone.on("addedfile", function(file) {
                alert('nouveau fichier reçu');
                location.reload();
            });
        </script>

    {% endblock %}

    {% block extra_css %}
        <link href="{{ asset('bundles/hdcoffice/assets/css/dropzone.css') }}" rel="stylesheet" />
    {% endblock %}

{% endblock %}