{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ mode }} une gamme{% endblock %}

{% block body %}

    <script type="text/javascript">
    function validateForm() {
        var mode = "{{ mode }}";
            if (window.confirm('Attention ! Tous les secteurs de cette gamme vont etre supprimeé, voulez vous continuer ?'))
            {return true;}
        else
            window.location.href = '/gamme/';
    }
    function redirect(){
        window.location.href = '/gamme/';
    }
    </script>

    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ mode }} une gamme
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ mode }}
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form', 'onsubmit':'return validateForm();'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.name, { 'label': 'Nom', 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="select-from">Produits : </label>
                                <select name="available_produit" id="select-from" class="form-control" multiple size="10">
                                    {% for oRow in available_products %}
                                        <option value="{{ oRow.id }}">{{ oRow.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <p><button class="btn btn-default" id="btn-add-produit">Ajouter &raquo;</button></p>
                            <p><button class="btn btn-default" id="btn-remove-produit">&laquo; Retirer</button></p>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="select-from">Produits : </label>
                                <select name="selected_produit[]" id="select-to" class="form-control" multiple size="10">
                                    {% if selected_products is defined %}
                                        {% for oRow in selected_products %}
                                            <option value="{{ oRow.id }}">{{ oRow.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="select-from">Spécialités : </label>
                                <select name="available_specialite" id="select-from2" class="form-control" multiple size="10">
                                    {% for oRow in available_specialites %}
                                        <option value="{{ oRow.id }}">{{ oRow.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <p><button class="btn btn-default" id="btn-add-specialite">Ajouter &raquo;</button></p>
                            <p><button class="btn btn-default" id="btn-remove-specialite">&laquo; Retirer</button></p>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label for="select-from">Spécialités : </label>
                                <select name="selected_specialite[]" id="select-to2" class="form-control" multiple size="10">
                                    {% if selected_specialites is defined %}
                                        {% for oRow in selected_specialites %}
                                            <option value="{{ oRow.id }}">{{ oRow.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1">
                            {{ form_row(form.save, { 'label': mode, 'attr': {'class': 'btn btn-success'} }) }}
                        </div>
                        <div class="col-lg-1 pull-right">
                            {{ form_row(form.reset, { 'label': "Annuler", 'attr': {'class': 'btn btn-warning'} }) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->



{% endblock %}

{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/gamme.js') }}"></script>
{% endblock %}