{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Gamme : {{ object.name }}{% endblock %}

{% block extra_css %}<link href="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href={{ url("gammelist") }}>Gamme</a></li>
        <li class="breadcrumb-item active">{{ object.name }}</li>
    </ol>
{% endblock %}

{% block body %}
    <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-headline">
                            <h2><a href={{ url("gammeedit", {'id': object.id}) }}>{{ object.name }}</a></h2>
                        </div>
                    </div>
                    <div class="panel-body">
                            {% if object.specialites|length>0 %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Spécialités :</label>
                                        <ol class="breadcrumb">
                                        {% for specialite in object.specialites %}
                                            <li>
                                                <a href={{ url("specialiteedit", {'id': specialite.specialiteId.id}) }}>
                                                    {{ specialite.specialiteId.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                            {% endif %}
                            {% if object.produits|length>0 %}
                                <div class="row">
                                    <div class="col-md-12">
                                    <label>Produis :</label>
                                        <ol class="breadcrumb">
                                        {% for produit in object.produits %}
                                            <li>
                                                <a href={{ url("produitedit", {'id': produit.produitId.id}) }} >{{ produit.produitId.name }}</a>
                                            </li>
                                        {% endfor %}
                                        </ol>
                                    </div>
                                </div>
                            {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <label>Secteurs :</label>
                                <ol class="breadcrumb">
                                    {% for secteur in object.secteurs %}
                                        <li>
                                            <a href={{ url("secteurhdcview", {'id': secteur.id}) }} >{{ secteur.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ol>
                                <a class="btn btn-info pull-right"
                                   href={{ url("secteurhdcadd", {'gammeId': object.id}) }}
                                >
                                    <i class="fa fa-edit "></i>Ajout secteur
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a href={{ url("gammeedit", {'id': object.id}) }} class="btn btn-primary">
                            <i class="fa fa-edit "></i> Modifier
                        </a>
                        <a class="btn btn-danger"
                           onclick="if (!confirm('Etes vous sûr?')) return false;" href={{ url("gammedelete", {'id': object.id}) }} >
                            Supprimer
                        </a>

                    </div>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Les prospects non encore affectés {{ freeProspectCount }}
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover datatable-prospect" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>Nom / Prénom</th>
                                <th>Spécialité</th>
                                <th>Titre</th>
                                <th>Pot.</th>
                                <th>Cursus</th>
                                <th>BrickIMS</th>
                                <th>Localité</th>
                                <th>Adresse</th>
                                <th class="center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}

{% block extra_js %}
    <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>

    <script>
        var selected_specialite = [];
        {% for specialite in selectedSpecialites %}
            selected_specialite.push({{ specialite|e('js') }});
        {% endfor %}
        $(document).ready(function () {
            var datatable = $('.datatable-prospect');
            if (datatable.length>0) {
                datatable.dataTable( {
                    "processing": true,
                    "serverSide": true,
                    "pageLength": 100,
                    "ajax": {
                        "url": "/prospect/free",
                        "type": "POST",
                        "data" : {specialite: selected_specialite}
                    },
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.9/i18n/French.json"
                    }
                });
            }
        });
    </script>

{% endblock %}