{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ mode }} un prospect{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ mode }} un prospect
            </h1>
            <a href="{{ path('prospectlist') }}">
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    Retour à la liste</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Informations Personnelles</b>
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.titre_id, { 'label': 'Titre *', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.lastname, { 'label': 'Nom *', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.firstname, { 'label': 'Prénom', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.adresse, { 'label': 'Adresse *', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.telephone1, { 'label': 'Téléphone', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.telephone2, { 'label': 'GSM', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.email, { 'label': 'Email', 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Informations Métier
                </div>
                <div class="panel-body">
                    {% if gamme_specialite.gammeId is defined %}
                        <div id="SelectedGamme" data-id="{{ gamme_specialite.gammeId.id }}">
                            Gamme : <b>{{ gamme_specialite.gammeId.name }}</b></div>
                    {% endif %}
                    <div id="gammeTarget"></div>
                    <div class="form-group">
                        {{ form_row(form.specialite_id, { 'label': 'Spécialité *', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.genre_id, { 'label': 'Genre *', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.cursus_id, { 'label': 'Cursus *', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.potentiel_id, { 'label': 'Potentiel *', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.rps, { 'label': 'RP', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.structure, { 'label': 'Structure', 'attr': {'class': 'form-control'} }) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Zone Géographique
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12">
                            <label>Région</label>
                            <select name="select_regions" id="select_Region" class="form-control">
                                {% for region in availableRegions %}
                                    {% if (SelectedRegion.id is defined) %}
                                        <option value="{{ region.id }}"
                                                {% if (region.id == SelectedRegion.id) %}
                                                    selected='selected'
                                                {% endif %}
                                        >{{ region.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ region.id }}">{{ region.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                        <div class="col-lg-12">
                            <label>Gouvernorat</label>
                            <select name="select_gouvernorat" id="select_Gouvernorat" class="form-control">
                                {% for gouv in availableGouvernorats %}
                                    {% if (SelectedGouvernorat.id is defined) %}
                                        <option value="{{ gouv.id }}"
                                                {% if (gouv.id == SelectedGouvernorat.id) %}
                                            selected='selected'
                                                {% endif %}>
                                            {{ gouv.name }}
                                        </option>
                                    {% else %}
                                        <option value="{{ gouv.id }}">{{ gouv.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                        <br>
                    </div>

                    <div class="form-group">
                        <label>BrickIMS *</label>
                        <select name="select_brickims" id="select_BrickIMS" class="form-control">
                            <option value="0">    Sélectionner un BrickIMS</option>
                            {% for brick in availableBrickIms %}
                                {% if (SelectedBrickIms.id is defined) %}
                                    <option value="{{ brick.id }}"
                                            {% if SelectedBrickIms.Id is defined %}
                                        {% if (brick.id == SelectedBrickIms.id) %}
                                            selected='selected'
                                        {% endif %}
                                            {% endif %}>
                                        {{ brick.name }}
                                    </option>
                                {% else %}
                                    <option value="{{ brick.id }}">{{ brick.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        {{ form_row(form.ville_id, { 'id': 'select_Ville', 'label': 'Localité *',
                            'attr': {'class': 'form-control custom-class'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.lat, { 'label': 'Latitude', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.lng, { 'label': 'Longitude', 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.remarque, { 'label': 'Remarque', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    {{ form_row(form.save, { 'label': mode, 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}
                </div>
                <button id="setCurrentLocation">Définir comme coordonnées GPS</button>
                <br>
                Position courante (lat, lon):<br/>
                <span id="currentLat">???</span>°, <span id="currentLon">???</span>°
            </div>
            <a href="{{ path('prospectlist') }}">
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    Retour à la liste</button>
            </a>
        </div>

    </div>

    <!-- /. ROW  -->
{% endblock %}

{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/geolocalisation.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/json/prospect.manip.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/prospect.actions.select.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/filterprospect.js') }}"></script>


{% endblock %}