{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des prospects{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Prospects
            </h1>
        </div>
    </div>

    <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Les prospects
                <br><br>
                <div id="PreAddButton"></div>
                {% if
                is_granted("ROLE_SUPER_ADMIN") or
                is_granted("ROLE_SUPERVISEUR") or
                is_granted("ROLE_ADMIN")
                %}
                    <a title="ajouter un prospect" class="btn btn-success" id="newProspectButton"
                       href={{ url("prospectadd") }}>
                        <i class="glyphicon glyphicon-plus"></i></a>

                    <br><br>

                    <a title="Initialiser les filtres" class="btn btn-danger top-right" id="clearCookies"
                       href="#">
                        Initialiser les filtres
                        <i class="glyphicon glyphicon-trash"></i>

                    </a>

                {% endif %}
            </div>
            <div class="panel-body">
                <div id="HideShowDiv">
                    <a class="showhide" id="slideDownTable">
                        <i class="fa fa-chevron-down top-right"></i>
                    </a>
                </div>
                <div id="RegionTable">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="col-lg-12">
                                    <table>
                                        <thead>
                                        <tr>
                                            {% for item in available_filtres %}
                                                <th width="150px">{{ item.label }}</th>
                                            {% endfor %}
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            {% for entity, item in available_filtres %}
                                                <td>
                                                    <select multiple size="8" name="select_{{ entity }}" multiple
                                                            style="width: 100%;"
                                                            id="select_{{ entity }}" class="selectpickers select_filtres">
                                                        <option value="0" SELECTED>Tous</option>
                                                        {% for oRow in item.data %}
                                                            <option value="{{ oRow.id }}">{{ oRow.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                            {% endfor %}
                                        </tr>
                                        </tbody>
                                    </table>
                                    <br>
                                    <div id="SearchProspectButton">
                                        Total des prospects sélectionnés : <span id="total_filtre"></span>
                                        <button id="show_selectprospects" class="btn btn-success">Afficher
                                        </button>&nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover datatable-prospect"
                           id="dataTables-example">
                        <thead>
                        <tr>
                            <th>Nom / Prénom</th>
                            <th>Spécialité</th>
                            <th>Titre</th>
                            <th>Pot.</th>
                            <th>Cursus</th>
                            <th>BrickIMS</th>
                            <th>Localité</th>
                            <th>Adresse</th>
                            <th class="text-center">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <nav class="navbarRegion navbar-default navbar-fixed-top " role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapses" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <a class="navbar-brand" id="navBarTitles" href="#">Recherche</a>
                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>
    <!-- /. ROW  -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true" style="z-index: 10000;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="modal"><!-- Place at bottom of page --></div>

{% endblock %}

{% block extra_css %}
    <link href="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/hdcoffice/assets/css/AjaxWaitingAnim.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block extra_js %}
    <!-- Prospect Filter -->
    <script src="{{ asset('bundles/hdcoffice/assets/js/filterprospect.js') }}"></script>
    <!-- DATA TABLE SCRIPTS -->
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/dataTables/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/pagingStyle.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/ShowHideRegionTable.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.js') }}"></script>

    <script src="{{ asset('bundles/hdcoffice/assets/js/mountable.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/tabledit.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/form_validation.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery-ui.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/jquery-ui/jquery.ui.datepicker-fr.js') }}"></script>
    <script src="{{ asset('bundles/hdcoffice/assets/js/datepicker-script.js') }}"></script>
    <script>
        global = {
            locale   : '{{ app.request.locale }}'
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script type="text/javascript">
        $('.datetimepicker').datetimepicker({
            locale: 'fr',
            useCurrent: false,
            sideBySide: true
        });
    </script>

{% endblock %}
