{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Fiche prospect{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Prospect
            </h1>
            <a href="{{ path('prospectlist') }}">
                <button class="btn btn-primary">
                    <i class="glyphicon glyphicon-arrow-left"></i>
                    Retour à la liste</button>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ oProspect.lastName }} {{ oProspect.firstName }}
                </div>
                <div class="panel-body">
                    <p>Adresse : {{ oProspect.adresse }}</p>
                    <p>Téléphone 1: {{ oProspect.telephone1 }}</p>
                    <p>Téléphone 2: {{ oProspect.telephone2 }}</p>
                    <p>Email: {{ oProspect.email }}</p>
                    <p>Structure: {{ oProspect.structure }}</p>
                    <p>Potentiel: {{ oProspect.potentiel }}</p>
                    <p>RP: {{ oProspect.rPs }}</p>
                </div>
                <a href="{{ path('prospectedit', { 'id': oProspect.id }) }}">
                    <button class="btn btn-primary" type="button" title="modifier">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                </a>

                <a href="{{ path('prospectdelete', { 'id': oProspect.id }) }}" title="supprimer">
                    <button class="btn btn-danger"
                            onclick="if(window.confirm('Voulez-vous vraiment supprimer ?'))
                                {return true;}else{return false;}">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </a>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}
