{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Ajouter un taux de TVA{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Ajouter un taux de TVA
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ajout
                </div>
                <div class="panel-body">
                {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}