{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ mode }} secteurs à un utilisateur{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ mode }} secteurs à un utilisateur
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ mode }}
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.user_id, { 'label': 'Utilisateur', 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <select name="available_secteur" id="select-from" class="form-control" multiple size="10">
                                    {% for oRow in available_secteurs %}
                                        <option value="{{ oRow.id }}">{{ oRow.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-2">
                            <p><button class="btn btn-default" id="btn-add-secteurhdcuser">Ajouter &raquo;</button></p>
                            <p><button class="btn btn-default" id="btn-remove-secteurhdcuser">&laquo; Retirer</button></p>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <select name="selected_secteurs[]" id="select-to" class="form-control" multiple size="10">
                                    {% if selected_secteurs is defined %}
                                        {% for oRow in selected_secteurs %}
                                            <option value="{{ oRow.secteurid }}">{{ oRow.secteurname }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                            </div>
                        </div>
                    </div>
                    {{ form_row(form.save, { 'label': mode, 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->



{% endblock %}

{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/secteurhdcuser.js') }}"></script>
{% endblock %}