{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}{{ mode }} un produit{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ mode }}  un produit
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ mode }}
                </div>
                <div class="panel-body">
                    {{ form_start(form, { 'attr': {'role': 'form'} }) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_row(form.name, { 'label': 'Nom', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.palier_gratuite, { 'label': 'Palier de gratuité', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prix_achatht, { 'label': 'Prix d\'achat HT', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prix_revientht, { 'label': 'Prix de revient HT', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        <div><label for="prix_ventettc">Prix TTC (Calculer le prix de vente HT)</label>TND <input type="text" value="0" class="form-control" name="prix_ventettc" id="prix_ventettc"></div>
                    </div>
                    <div class="form-group">
                        {{ form_row(form.prix_venteht, { 'label': 'Prix de vente HT', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.tauxtva_id, { 'label': 'Taux TVA', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    <div class="form-group">
                        {{ form_row(form.groupeproduit_id, { 'label': 'Groupe de produit', 'attr': {'class': 'form-control'} }) }}
                    </div>
                    {{ form_row(form.save, { 'label': mode, 'attr': {'class': 'btn btn-default'} }) }}
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->



{% endblock %}

{% block extra_js %}
    <script src="{{ asset('bundles/hdcoffice/assets/js/produit.js') }}"></script>
{% endblock %}