{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Produits <a class="btn btn-success" href={{ url("produitadd") }}>Ajouter</a>
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <!--    Striped Rows Table  -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des produits
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <i
                                        id="showHideIcon" class="glyphicon glyphicon-cog"
                                        title="afficher les options">
                                    </i>
                                </th>
                                <th width="400px">Nom</th>
                                <th>Palier de gratuité</th>
                                <th>Taux TVA</th>
                                <th>Prix de vente HT</th>
                                <th>Groupe</th>
                                <th>Prix de vente TTC</th>
                                <th width="300px">Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            <div id="selectValue" class="dropdown clearfix">
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu"
                                    style="display:block;position:static;margin-bottom:5px;">
                                    <li>
                                        <a tabindex="-1" id="deletechecked" href="#">
                                            Suprimer Séléctionnées
                                        </a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" id="checkAlItems" href="#">
                                            Supprimer Tout
                                        </a>
                                    </li>
                                    <li>
                                        <a tabindex="-1" id="uncheckAlItems" href="#">
                                            Annuler séléction
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <form enctype="multipart/form-data" id="formCheck"
                                  action="{{ path('deleteSelectedProducts') }}"
                                  method="post">
                            {% for object in objects %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class="checkItem"
                                               value="{{ object.0.id }}" name="checkbox[]">
                                    </td>
                                    <td>{{ object.0.name }}</td>
                                    <td>{{ object.0.paliergratuite }}</td>
                                    <td>{{ object.tauxtva }}%</td>
                                    <td>{{ object.0.PrixVenteHT }}</td>
                                    <td>{{ object.grpname }}</td>
                                    <td>{{ object.0.PrixVenteHT + (object.0.PrixVenteHT * object.tauxtva / 100)|number_format(3) }}</td>
                                    <td>
                                        <a href={{ url("produitedit", {'id': object.0.id}) }}>
                                            <button class="btn btn-primary">
                                                <i class="fa fa-edit "></i> Modifier
                                            </button>
                                        </a>
                                        <a onclick="if (!confirm('Etes vous sûr?')) return false;"
                                           href={{ url("produitdelete", {'id': object.0.id}) }}>
                                            <button class="btn btn-danger">Supprimer</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </form>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  End  Striped Rows Table  -->
        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script>
        $(document).ready(function(){

            $("#selectValue").hide();

            $('#showHideIcon').click(function() {
                $("#uncheckAlItems").hide();
                $("#selectValue").slideToggle("fast");
            });

            $("#checkAlItems").click(function () {
                $("#checkAlItems").hide(100);
                $("#uncheckAlItems").show(100);
                $('input:checkbox').attr('checked','checked');
            });

            $("#uncheckAlItems").click(function () {
                $("#uncheckAlItems").hide(100);
                $("#checkAlItems").show(100);
                $('input:checkbox').removeAttr('checked');
            });

            $("#deletechecked").click(function () {
                if ($('.checkItem:checked').length == $('.checkItem').length) {
                    if (confirm('Vous êtes en train de supprimer tout les enregistrements, continuer ?')){
                        $("#formCheck").submit();
                    }else {
                        return false;
                    }
                }else if ($('.checkItem:checked').length < $('.checkItem').length &&
                          $('.checkItem:checked').length > 0) {
                    if(confirm('Êtes-vous sûr de vouloir supprimer ?')){
                        $("#formCheck").submit();
                    }else {
                        return false;
                    }
                }else{
                    alert('Aucune ligne n\'à été séléctionnée.');}
            });

            $(document).click(function() {
                var isVisible = $('#selectValue').is(':visible');
                if(isVisible == true){
                    $("#selectValue").hide();
                    $("#checkAlItems").show(100);
                }
            });
            $("#showHideIcon").click(function(e) {
                e.stopPropagation(); // This is the preferred method.
                return false;        // This should not be used unless you do not want
                                     // any click events registering inside the div
            });
            $(".dropdown-menu").click(function(e) {
                e.stopPropagation(); // This is the preferred method.
                return false;        // This should not be used unless you do not want
                                     // any click events registering inside the div
            });
        });
    </script>
{% endblock %}