{% if threads %}
    {% for thread in threads %}
        <li>
            <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                <div>
                    <strong>{{ thread.createdBy }}</strong>
                    <span class="pull-right text-muted">
                        <em>{{ thread.createdAt|date("d-m-Y G:i") }}</em>
                    </span>
                </div>
                <br />
                <div{% if not fos_message_is_read(thread) %} class="unread"{% endif %}>{{ thread.subject }}</div>
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a class="text-center" href="{{ url('fos_message_inbox') }}">
                <strong>Lire tous les messsages</strong>
                <i class="fa fa-angle-right"></i>
            </a>
        </li>
    {% endfor %}
{% else %}
    <li>
        <strong>{% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.</strong>
        <i class="fa fa-angle-right"></i>
    </li>
{% endif %}