{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block title %}Liste des cursus{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Cursus <a class="btn btn-success" href={{ url("cursusadd") }}>Ajouter</a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <!--    Striped Rows Table  -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Liste des cursus
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" name="sample" class="selectall"/>
                                </th>
                                <th>Nom</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for object in objects %}
                                <tr>
                                    <td>
                                        <input type="checkbox" class=checkboxlist"
                                               name="sample[]" value={{ object.id }} />
                                    </td>
                                    <td>{{ object.name }}</td>
                                    <td>
                                        <a href={{ url("cursusedit", {'id': object.id}) }}>
                                            <button class="btn btn-primary">
                                                <i class="fa fa-edit "></i> Modifier
                                            </button>
                                        </a>
                                        <a onclick="if (!confirm('Etes vous sûr?')) return false;"
                                           href={{ url("cursusdelete", {'id': object.id}) }}>
                                            <button class="btn btn-danger">Supprimer</button>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--  End  Striped Rows Table  -->
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <!-- /. ROW  -->

{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.js"></script>
    <script>
        $(document).ready(function () {

            $('.selectall').click(function() {
                if ($(this).is(':checked')) {
                    $('input:checkbox').attr('checked', true);
                } else {
                    $('input:checkbox').attr('checked', false);
                }
            });
        });
    </script>
{% endblock %}