{% extends 'HdcOfficeBundle::layout.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            Messages privés <a class="btn btn-success" href={{ url("fos_message_thread_new") }}>Nouveau message</a>
        </h1>
    </div>
</div>


<div class="row">

    <a href="{{ url('fos_message_inbox') }}" class="btn btn-primary btn-lg">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a>
    <a href="{{ url('fos_message_sent') }}" class="btn btn-success btn-lg">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a>
    <a href="{{ url('fos_message_deleted') }}" class="btn btn-danger btn-lg">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a>

</div>
<div class="row">
    {% block fos_message_content %}{% endblock %}
</div>

{% endblock %}
